# Base de dados
MYSQL_ROOT_PASSWORD=root1234
DB_PASSWORD=gympass1234

#  Sessão / Auth 
SESSION_SECRET=super_secret_key

# Frontend (URL pública onde o React está acessível)
# Docker: http://localhost:8080
# Dev local (npm start): http://localhost:8080
FRONTEND_URL=http://localhost:8080

# GitHub OAuth2
# Criar app em: https://github.com/settings/developers
# Callback URL: http://localhost:8080/auth/github/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback

# Google OAuth2
# Criar app em: https://console.cloud.google.com/apis/credentials
# Callback URL: http://localhost:8080/auth/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
